
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/DesignTimeBuild/.dtbcache.v2
*.vsidx
*.vsidx
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/FileContentIndex/65a88a35-698d-4838-b645-1c2490934109.vsidx
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/FileContentIndex/7f026805-01c5-49c2-a7bd-2dc0aeb65aa4.vsidx
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/v17/.futdcache.v2
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/v17/.suo
ProdutoCatalogo.Application/.vs/ProdutoCatalogo.Application/v17/DocumentLayout.json
ProdutoCatalogo.Application/.vs/ProjectEvaluation/produtocatalogo.application.metadata.v7.bin
ProdutoCatalogo.Application/.vs/ProjectEvaluation/produtocatalogo.application.projects.v7.bin
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Application.dll
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Application.exe
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Application.xml
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Domain.pdb
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Infra.pdb
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Service.pdb
ProdutoCatalogo.Application/bin/Debug/net8.0/ProdutoCatalogo.Shared.pdb
ProdutoCatalogo.Application/obj/Debug/net8.0/apphost.exe
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.AssemblyInfoInputs.cache
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.csproj.CoreCompileInputs.cache
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.dll
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.pdb
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.sourcelink.json
ProdutoCatalogo.Application/obj/Debug/net8.0/ProdutoCatalogo.Application.xml
ProdutoCatalogo.Application/obj/Debug/net8.0/ref/ProdutoCatalogo.Application.dll
ProdutoCatalogo.Application/obj/Debug/net8.0/refint/ProdutoCatalogo.Application.dll
ProdutoCatalogo.Domain/bin/Debug/net8.0/ProdutoCatalogo.Domain.dll
ProdutoCatalogo.Domain/bin/Debug/net8.0/ProdutoCatalogo.Domain.pdb
ProdutoCatalogo.Domain/bin/Debug/net8.0/ProdutoCatalogo.Shared.dll
ProdutoCatalogo.Domain/bin/Debug/net8.0/ProdutoCatalogo.Shared.pdb
ProdutoCatalogo.Domain/obj/Debug/net8.0/ProdutoCatalogo.Domain.AssemblyInfo.cs
ProdutoCatalogo.Domain/obj/Debug/net8.0/ProdutoCatalogo.Domain.AssemblyInfoInputs.cache
ProdutoCatalogo.Domain/obj/Debug/net8.0/ProdutoCatalogo.Domain.csproj.CoreCompileInputs.cache
ProdutoCatalogo.Domain/obj/Debug/net8.0/ProdutoCatalogo.Domain.sourcelink.json
ProdutoCatalogo.Domain/obj/Debug/net8.0/ref/ProdutoCatalogo.Domain.dll
ProdutoCatalogo.Domain/obj/Debug/net8.0/refint/ProdutoCatalogo.Domain.dll
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Domain.dll
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Domain.pdb
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Infra.dll
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Infra.pdb
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Shared.dll
ProdutoCatalogo.Infra/bin/Debug/net8.0/ProdutoCatalogo.Shared.pdb
ProdutoCatalogo.Infra/obj/Debug/net8.0/ProdutoCatalogo.Infra.AssemblyInfo.cs
ProdutoCatalogo.Infra/obj/Debug/net8.0/ProdutoCatalogo.Infra.AssemblyInfoInputs.cache
*.cache
*.cache
ProdutoCatalogo.Infra/obj/Debug/net8.0/ProdutoCatalogo.Infra.dll
ProdutoCatalogo.Infra/obj/Debug/net8.0/ProdutoCatalogo.Infra.pdb
ProdutoCatalogo.Infra/obj/Debug/net8.0/ProdutoCatalogo.Infra.sourcelink.json
ProdutoCatalogo.Infra/obj/Debug/net8.0/ref/ProdutoCatalogo.Infra.dll
ProdutoCatalogo.Infra/obj/Debug/net8.0/refint/ProdutoCatalogo.Infra.dll
ProdutoCatalogo.Service/bin/Debug/net8.0/ProdutoCatalogo.Domain.dll
ProdutoCatalogo.Service/bin/Debug/net8.0/ProdutoCatalogo.Domain.pdb
ProdutoCatalogo.Service/bin/Debug/net8.0/ProdutoCatalogo.Service.dll
ProdutoCatalogo.Service/bin/Debug/net8.0/ProdutoCatalogo.Service.pdb
ProdutoCatalogo.Service/bin/Debug/net8.0/ProdutoCatalogo.Shared.pdb
ProdutoCatalogo.Service/obj/Debug/net8.0/ProdutoCatalogo.Service.AssemblyInfo.cs
ProdutoCatalogo.Service/obj/Debug/net8.0/ProdutoCatalogo.Service.csproj.AssemblyReference.cache
ProdutoCatalogo.Service/obj/Debug/net8.0/ProdutoCatalogo.Service.pdb
ProdutoCatalogo.Service/obj/Debug/net8.0/refint/ProdutoCatalogo.Service.dll
ProdutoCatalogo.Shared/bin/Debug/net8.0/ProdutoCatalogo.Shared.pdb
ProdutoCatalogo.Shared/obj/Debug/net8.0/ProdutoCatalogo.Shared.dll
ProdutoCatalogo.Shared/obj/Debug/net8.0/refint/ProdutoCatalogo.Shared.dll
